body {
  font-family: 'GeneralSans-Variable';
  background-color: #d3d1d2;
  font-weight: 534;
  color: var(--color-gray);
}

:root {
  --color-red: #f30;
  --color-purple: #9934ff;
  --color-green: #138e2a;
  --color-pink: #ff36fa;
  --color-yellow: #ed9d11;
  --color-gray: #3B3636;
}

h1 {
  font-size: 80px;
  letter-spacing: -2.95px;
  font-weight: 486;
  line-height: 1.048;
}
h2 {
  font-size: 172px;
  letter-spacing: -7.74px;
  line-height: 0.6569;
  font-weight: bold;
}
h3 {
  font-size: 138px;
  letter-spacing: -8.69px;
  font-weight: 360;
}

p {
  font-size: 32px;
  line-height: 1.5;
  font-weight: 360;
}

a {
  color: var(--color-gray);
  text-decoration: underline;
}

.container {
  background-color: #fff;
  width: 900px;
}
.container.transparent {
  background-color: transparent;
}

.bg-red {
  background-color: var(--color-red) !important;
}
.bg-green {
  background-color: var(--color-green) !important;
}
.bg-pink {
  background-color: var(--color-pink) !important;
}
.color-purple{
  color: var(--color-purple);
}
.color-green{
  color: var(--color-green);
}
.color-red{
  color: var(--color-red);
}
.color-yellow {
  color: var(--color-yellow);
}
.color-pink{
  color: var(--color-pink);
}
.italic {
  font-family: 'GeneralSans-VariableItalic', 'GeneralSans-Variable';
}
.flex-bottom {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.transition {
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.shadow-green {
  box-shadow: 12px 12px var(--color-green);;
}
.shadow-purple {
  box-shadow: 12px 12px var(--color-purple);;
}
.shadow-red {
  box-shadow: 12px 12px var(--color-red);;
}
.shadow-pink {
  box-shadow: 12px 12px var(--color-pink);;
}
.shadow-sm-green {
  box-shadow: 6px 6px var(--color-green);;
}
.shadow-sm-purple {
  box-shadow: 6px 6px var(--color-purple);;
}
.shadow-sm-red {
  box-shadow: 6px 6px var(--color-red);;
}
.shadow-sm-pink {
  box-shadow: 6px 6px var(--color-pink);;
}
.shadow-sm-black {
  box-shadow: 6px 6px #000;
}
.shadow-green:hover {
  box-shadow: 4px 4px var(--color-green);;
}
.shadow-purple:hover {
  box-shadow: 4px 4px var(--color-purple);;
}
.shadow-red:hover {
  box-shadow: 4px 4px var(--color-red);;
}
.shadow-pink:hover {
  box-shadow: 4px 4px var(--color-pink);;
}
.shadow-sm-green:hover {
  box-shadow: 2px 2px var(--color-green);;
}
.shadow-sm-purple:hover {
  box-shadow: 2px 2px var(--color-purple);;
}
.shadow-sm-red:hover {
  box-shadow: 2px 2px var(--color-red);;
}
.shadow-sm-pink:hover {
  box-shadow: 2px 2px var(--color-pink);;
}
.shadow-sm-black:hover {
  box-shadow: 2px 2px #000;
  cursor: pointer;
}
.normal-text {
  font-size: 32px !important;
  line-height: 1.5;
  font-weight: 360;
  letter-spacing: 0;
  color: var(--color-gray) !important;
}

.yellow-divider {
  border-top: 20px dashed var(--color-yellow);
}

.abs {
  position: absolute;
  width: 922px;
  white-space: nowrap;
}
.tag {
  position: absolute;
  writing-mode: vertical-rl;
  letter-spacing: -1.07px;
  font-size: 80px;
  font-weight: bold;
  right: -70px;
  top: -37px;
}
.fixed-side {
  position: absolute;
  left: -103px;
}
.fixed {
  position: fixed;
}
.side-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 16px;
  font-weight: 300;
  margin-top: 55px;
}

/* SIDE ICONS */
.icon {
  width: 68px;
  margin-top: 14px;
  margin-left: -43px;
}

.icon.fb {
  margin-top: 103px;
}
.fb .cls-1{fill:none;}.fb .cls-2{fill:#366cff;}.fb .cls-3{fill:#fff;}.fb .cls-4{clip-path:url(#clippath1);}
.linkedin .cls-1{fill:none;}.linkedin .cls-2{fill:#36d8ff;}.linkedin .cls-3{fill:#fff;}.linkedin .cls-4{clip-path:url(#clippath2);}
.twitter .cls-1{fill:#fff;}.twitter .cls-2{fill:#3b3636;}

/* HEADER */

svg.color-change {
  height: 199px;
  margin-left: -25px;
}

svg.color-change .cls-1, svg.color-change .cls-2 {
  animation-duration: 10s;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
  transition: color 3s;
}

svg.color-change .cls-1 {
  fill: var(--color-red);
  animation-name: change-top-letters;
}

svg.color-change .cls-2 {
  fill: var(--color-purple);
  animation-name: change-bottom-letters;
}

.subtitle {
  margin-top: auto;
  margin-bottom: 0;
  color: var(--color-purple);
  font-size: 22px;
  letter-spacing: -1.21px;
  font-weight: 416;
}

img.width-100 {
  width: 100%;
}

.bar {
  height: 17px;
  width: calc(100% - 30px);
  background-color: var(--color-purple);
  display: inline-block;
  position: absolute;
  transition: height 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.bar-1 {
  width: 194px;
}

.menu-block:hover .bar{
  height: 100%;
}
.menu-block:hover .menu-item{
  color: #fff;
  mix-blend-mode: plus-lighter;
}

.menu-block {
  height: 87px;
}

.menu-item {
  display: inline-block;
  padding-top: 30px;
  font-size: 24px;
  line-height: 1.1;
  font-weight: 495;
  letter-spacing: -1px;
  padding-left: 4px;
}


@keyframes change-top-letters {
  0% { fill: var(--color-red); }

  25% { fill: #0b89d6; }

  50% { fill: var(--color-red); }

  100% { fill: var(--color-red); }
}
@keyframes change-bottom-letters {
  0% { fill: var(--color-purple); }

  25% { fill: var(--color-yellow); }

  50% { fill: var(--color-green); }

  100% { fill: var(--color-purple); }
}
